@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #202124;

  --color-primary: #34a853;
  --color-secondary: #1a73e8;
  --color-warning: #fbbc05;
  --color-error: #ea4335;
  --color-error: #ea4335;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #e8eaed;

    --color-primary: #34a853;
    --color-secondary: #8ab4f8;
    --color-warning: #fdd663;
    --color-error: #f28b82;
  }
}

html {
  zoom: 0.8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.min-h-screen {
  min-height: 125vh !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif;
  font-weight: 600;
  letter-spacing: 0.5;
}
